
.figure-item{
    background-color: white;
    justify-content: center;
    border-radius: 5px;
    height: 35vh;
    padding: 10px;
}

.figure-container{
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    transition:170ms;

    &.active{
        grid-template-columns: repeat(3, 1fr);
        transition: 480ms;;
    }

}

.figure-title{
    padding-top: 5px;

    &.delete{
        margin-top: -15px;
        float: right;
    }
}

.figure-content{
    width: 100%;
    margin: 4px;
    padding: 2px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.quadrate{
    margin: 2px; 
    background-color: #C2C2C2;
    height: 5vh;
    border-radius: 5px;
    &.active{
        background-color: #6ECBDB;
        border: solid 2px #39B36C;
    }
    &.new{
        height: 10vh;
    }
}



.card{
    margin: 10px;
    justify-content: center;
    width: 19vw;
    border: solid 1px black;

    &.md{
        width: 25vw;
        padding: 15px;
        display: flex;
        height: 20vh;
    }
    &.xl{
        width: 85%;
        height: 80vh;
    }
}

.btn-add {

    @extend .btn;

    border-radius: 5px;
    width: 40px;
    border-color:rgb(224, 222, 222);
    color: blue;
    height: 40px;
    margin-left: 10px;
    font-size: 20px;

    &:hover{
        border-color:rgba(39, 60, 241, 0.315);
    }

    &.save{
        width: 50px;
        font-size: 30px;
        height: 50px;

        &.disable{
            display: none;
        }
    }

}

.row-target{
    margin-left: 70px;
    padding: 15px;
    width: 90%;

    &.disable{
        display: none;
        width: 0;
        height: 0;
    }

    &.sm{
        padding: 50px;
    }

}

.paginate{
    margin-top: 70px;
    text-align: center;
    justify-content: center;
}

.pag{
    margin: 5px;


    &.selected{
        border-bottom: solid 2.5px blue;
    }
}


.card-new{
    @extend .card;

    width: 70vw;
    height: 70vh;
}

.btn-change{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-color: transparent;
}