*{
    margin: 0;
    box-sizing: border-box;
}

html{
    max-width: 100%;
    font-family: sans-serif;
}

img{
    width: 80%;
    height: auto;
    max-width: 100%;
}

ul{
    list-style-type: none;
}

.btn{
    border: solid 1.5px;
    cursor: pointer;
    height: 4vw;
}

a{
    cursor: pointer;
}

.navbar-container{

    margin-left: 2rem;
    transition:170ms;

    &.active{
        margin-left: 21rem;
        transition: 480ms;
    }
}

select{
    width: 20vw;
    height: 30px;
    border: transparent;
    border-bottom: solid 1px grey;
    margin: 10px;

    &:focus{
        outline: none;
    }

}


table {
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

link{
    text-decoration: none;
}

.form-group{
    margin: 25px;
}


