/* @media screen and (max-width: 800px){

} */

.backGround{
    background-image: url('../assets/img/bg.jpg');
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.target{
    background-color: white;
    justify-content: center;
    padding: 40px;
    border-radius: 5px;
    text-align: center;
}

.container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    &.modal{
        align-items: initial;
        min-height: 0;
    }
}

.input{
    width: 80%;
    margin: 3vh;
    height: 4vw;
    border: transparent !important;
    border-bottom: solid 1px black !important; 

    &:focus{
        outline: none;
    }
}

.btn-login {

    @extend .btn;

    border-radius: 10px;
    width: 30%;
    border-color:rgb(103, 189, 218);
    color: rgb(103, 189, 218);

    &:hover{
        background-color: rgb(103, 189, 218);
        color: white;
    }

}


