//Pantallas 

@media(max-width: 991px){
    .figure-container{
        grid-template-columns: repeat(2, 1fr);

        &.active{
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .card{
        width: 30vw;

        &.xl{
            width: 85vw;
            margin-left: 0;
        }

    }

    .card-new{
        width: 70vw;
    }

    .btn-add{
        width: 15vw;
    }

}

@media(max-width: 767px){
    .nav-menu{
        background-color: white;
        width: 15rem;
        height: 100vh;
    }

    .navbar{
        &.active{
            margin-left: 15rem;
            transition: 480ms;
        }
    
    }

    .menu-bars{
        margin-left: 1rem;
        font-size: 18px;
        margin-right: 1.5rem;
    }

    h2{
        font-size: 18px;
    }

    .btn{
        width: 45%;
        height: 8vw;
    }

    .navbar-container{

        &.active{
            margin-left: 15rem;
        }
    }

    .btn-add{
        width: 10vw;
    }

}

@media(max-width: 575px){
    .nav-menu{
        background-color: white;
        width: 15rem;
        height: 100vh;
    }

    .navbar{
        &.active{
            margin-left: 15rem;
            transition: 480ms;
        }
    
    }

    .btn{
        width: 45%;
        height: 8vw;
    }

    .figure-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .card{
        width: 85vw;

        &.md{
            width: 50vw;
            padding: 15px;
            display: flex;
            height: 30vh;
        }

        &.xl{
            width: 80vw;
            margin-left: 0;
        }
    }

    .card-new{
        width: 85vw;
        height: 75vh;
    }

    .row-target{
        margin-left: -5%;

        &.sm{
            margin-left: -10%;
            width: 110vw;
            font-size: 60px;
        }

    }

    .modalidades-container{
        width: 90vw;
    }

    .sidebar-active{
        display: none;
        width: 0;
        height: 0;
    }


    select{
        width: 33vw;
        height: 30px;
 
    
    }
    
}